.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;


  label {
  }


  .textarea-wrap {
    textarea {
      font-family: monospace;
      width: 100%;
      border: 1px solid #333;
      padding: 10px;
      transition: all ease-out .3s;

      &:focus {
        outline: none;
      }

      &:hover, &.active {
        border: 1px solid #228be5;
      }
    }

    &.active textarea {
      border: 1px solid #228be5;
    }


  }

  .input-wrap {
    position: relative;
    input {
      border: none;
      transition: all ease-out .3s;
      width: 100%;

      &:focus {
        outline: none;
      }
    }

    &:after {
      position: absolute;
      display: block;
      content: "";
      height: 1px;
      width: 0;
      background: #228be5;
      transform: translateX(-50%);

      bottom: 0;
      left: 50%;
      transition: width ease-out .3s;
    }

    &:hover, &.active {
      &:after {
        width: 100%;
      }
    }
  }
}